/* Basic CSS3 Mixins (not using Toolkit to keep this independent of submodules) PS NO IE SUPPORT!! */
/*End Mixins
************/
.tile-overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  /* +1 than contextual menu */

  height: 100%;
  width: 100%;
  background-color: #646464;
  background-color: rgba(100, 100, 100, 0.9);
}
.tile-overlay .inner {
  /* Vertical Centering */

  display: table;
  width: 100%;
  height: 100%;
}
.tile-overlay .inner .control-wrapper {
  vertical-align: middle;
  display: table-cell;
  width: 100%;
}
.overlay-open .tile-overlay {
  z-index: 499;
}
.dragging.tile {
  position: relative;
}
.dragging.tile [class*=move] {
  background-image: url(img/sprite.png);
  background-color: transparent;
  width: 41px;
  height: 41px;
  position: absolute;
  text-indent: -9999px;
  border: 0;
}
.dragging.tile .move-left {
  background-position: -1px -48px;
  left: 12%;
}
.dragging.tile .move-left:hover {
  background-position: -65px -48px;
}
.dragging.tile .move-right {
  background-position: -1px -92px;
  right: 12%;
}
.dragging.tile .move-right:hover {
  background-position: -65px -92px;
}
.dragging.tile .save {
  margin: 11px auto 0;
  width: 67px;
  padding: 5px 0;
  border: solid 1px #424242;
  display: block;
  text-transform: uppercase;
  font-size: 12px;
  background: #f3f3f3;
  background: -webkit-linear-gradient(#f3f3f3, #aaaaaa);
  background: -moz-linear-gradient(center top, #f3f3f3 0%, #aaaaaa 100%);
  background: linear-gradient(#f3f3f3, #aaaaaa);
  -webkit-background-clip: padding-box;
  -webkit-border-radius: 3px;
  -moz-background-clip: padding-box;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-clip: padding-box;
}
.dragging.tile .save:hover {
  background: #aaaaaa;
  background: -webkit-linear-gradient(#aaaaaa, #f3f3f3);
  background: -moz-linear-gradient(center top, #aaaaaa 0%, #f3f3f3 100%);
  background: linear-gradient(#aaaaaa, #f3f3f3);
}
.dragging.tile .cancel {
  margin: 10px auto 0;
  width: 67px;
  text-align: center;
  text-transform: uppercase;
  color: white;
  text-decoration: underline;
  display: block;
  font-size: 12px;
  cursor: pointer;
  -moz-transition: color 0.2s ease-in;
  -webkit-transition: color 0.2s ease-in;
  transition: color 0.2s ease-in;
}
.dragging.tile .cancel:hover {
  color: #f2f2f2;
}
.sidebar .dragging.block .move-left {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  transform: rotate(90deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
  margin-top: -4px;
}
.sidebar .dragging.block .move-right {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  transform: rotate(90deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
  margin-top: 12px;
}
.contextual-links .bean-type > a {
  /*Displays type of Bean at top of contextual menu. */

  font-style: italic;
  color: #bbb !important;
  cursor: default;
}
.contextual-links .bean-type > a:hover {
  background-color: transparent;
}
.dragging div[data-type='region'] {
  border: 2px dotted green;
}
.resizing.tile {
  position: relative;
}
.resizing.tile .width-minus,
.resizing.tile .width-plus {
  background-color: transparent;
  position: absolute;
  border: 0;
  color: #FFFFFF;
  font-size: 60px;
  line-height: 60px;
  font-family: Arial, sans-serif;
  text-shadow: -1px 0 #000000, 0 1px #000000, 1px 0 #000000, 0 -1px #000000;
  -moz-text-shadow: -1px 0 #000000, 0 1px #000000, 1px 0 #000000, 0 -1px #000000;
  -webkit-text-shadow: -1px 0 #000000, 0 1px #000000, 1px 0 #000000, 0 -1px #000000;
}
.resizing.tile .width-minus:hover,
.resizing.tile .width-plus:hover {
  color: #56a4cd;
}
.resizing.tile .width-minus {
  left: 12%;
}
.resizing.tile .width-plus {
  right: 12%;
}
.resizing.tile .width-current {
  margin: 0 auto 11px;
  width: auto;
  display: block;
  font-size: 18px;
  color: #FFFFFF;
  text-align: center;
  text-shadow: -1px 0 #000000, 0 1px #000000, 1px 0 #000000, 0 -1px #000000;
  -moz-text-shadow: -1px 0 #000000, 0 1px #000000, 1px 0 #000000, 0 -1px #000000;
  -webkit-text-shadow: -1px 0 #000000, 0 1px #000000, 1px 0 #000000, 0 -1px #000000;
}
.resizing.tile .save {
  margin: 11px auto 0;
  width: 67px;
  padding: 5px 0;
  border: solid 1px #424242;
  display: block;
  text-transform: uppercase;
  font-size: 12px;
  background: #f3f3f3;
  background: -webkit-linear-gradient(#f3f3f3, #aaaaaa);
  background: -moz-linear-gradient(center top, #f3f3f3 0%, #aaaaaa 100%);
  background: linear-gradient(#f3f3f3, #aaaaaa);
  -webkit-background-clip: padding-box;
  -webkit-border-radius: 3px;
  -moz-background-clip: padding-box;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-clip: padding-box;
}
.resizing.tile .save:hover {
  background: #aaaaaa;
  background: -webkit-linear-gradient(#aaaaaa, #f3f3f3);
  background: -moz-linear-gradient(center top, #aaaaaa 0%, #f3f3f3 100%);
  background: linear-gradient(#aaaaaa, #f3f3f3);
}
.resizing.tile .cancel {
  margin: 10px auto 0;
  width: 67px;
  text-align: center;
  text-transform: uppercase;
  color: white;
  text-decoration: underline;
  display: block;
  font-size: 12px;
  cursor: pointer;
  -moz-transition: color 0.2s ease-in;
  -webkit-transition: color 0.2s ease-in;
  transition: color 0.2s ease-in;
}
.resizing.tile .cancel:hover {
  color: #f2f2f2;
}
