/* Basic CSS3 Mixins (not using Toolkit to keep this independent of submodules) PS NO IE SUPPORT!! */
/*End Mixins
************/
.tile-overlay {
  font-family: Helvetica, Arial, sans-serif;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1004;
  background-color: #646464;
  background-color: rgba(0, 100, 0, 0.8);
  border: 1px solid #006400;
}
.tile-overlay .inner {
  /* Vertical Centering */
  display: table;
  width: 100%;
  height: 100%;
}
.tile-overlay .inner .control-wrapper {
  vertical-align: middle;
  display: table-cell;
  width: 100%;
}
.visibility-options {
  padding: 0 10px 20px 40px;
  color: white;
}
.overlay-open .tile-overlay {
  z-index: 499;
}
.dragging.tile {
  position: relative;
  min-height: 200px;
}
.dragging.tile [class*=move] {
  background-image: url(img/sprite.png);
  background-color: transparent;
  position: absolute;
  width: 41px;
  height: 41px;
  top: 50%;
  margin-top: -21px;
  text-indent: -9999px;
  border: 0;
  padding: 0;
  border-radius: 0;
}
.dragging.tile .offset-menu {
  margin: -40px auto 0;
  width: auto;
  display: block;
  font-size: 14px;
  text-align: center;
}
.dragging.tile .move-left {
  background-position: -1px -48px;
  left: 12%;
}
.dragging.tile .move-left:hover {
  background-position: -65px -48px;
}
.dragging.tile .move-right {
  background-position: -1px -92px;
  right: 12%;
}
.dragging.tile .move-right:hover {
  background-position: -65px -92px;
}
.dragging.tile .save {
  margin: 30px auto 0;
  width: 67px;
  padding: 5px 0;
  border: solid 1px #424242;
  display: block;
  text-transform: uppercase;
  font-size: 12px;
  background: #F3F3F3;
  background: -webkit-linear-gradient(#F3F3F3, #AAAAAA);
  background: -moz-linear-gradient(center top, #F3F3F3 0%, #AAAAAA 100%);
  background: linear-gradient(#F3F3F3, #AAAAAA);
  -webkit-background-clip: padding-box;
  -webkit-border-radius: 3px;
  -moz-background-clip: padding-box;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-clip: padding-box;
}
.dragging.tile .save:hover {
  background: #AAAAAA;
  background: -webkit-linear-gradient(#AAAAAA, #F3F3F3);
  background: -moz-linear-gradient(center top, #AAAAAA 0%, #F3F3F3 100%);
  background: linear-gradient(#AAAAAA, #F3F3F3);
}
.dragging.tile .cancel {
  margin: 10px auto 0;
  width: 67px;
  text-align: center;
  text-transform: uppercase;
  color: white;
  text-decoration: underline;
  display: block;
  font-size: 12px;
  cursor: pointer;
  -moz-transition: color 0.2s ease-in;
  -webkit-transition: color 0.2s ease-in;
  transition: color 0.2s ease-in;
}
.dragging.tile .cancel:hover {
  color: #f2f2f2;
}
.sidebar .dragging.block .move-left {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  transform: rotate(90deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
  margin-top: -4px;
}
.sidebar .dragging.block .move-right {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  transform: rotate(90deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
  margin-top: 12px;
}
.contextual-links .bean-style > a,
.contextual-links .bean-type > a {
  /*Displays type of Bean at top of contextual menu. */
  font-style: italic;
  color: #bbb !important;
  cursor: default;
}
.contextual-links .bean-style > a:hover,
.contextual-links .bean-type > a:hover {
  background-color: transparent;
}
[data-type="region"],
.container.content {
  position: relative;
}
[data-type="region"].dragging,
.container.content.dragging {
  z-index: 1002;
}
.region-overlay {
  content: '';
  z-index: 1001;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 1px solid #999;
  background-color: rgba(238, 238, 238, 0.8);
}
[class^="col-"] [data-type="region"] > .region-overlay {
  left: -15px;
  right: -15px;
}
.dragging > .region-overlay {
  background-color: transparent;
  border-color: #006400;
  outline: 15px solid rgba(0, 100, 0, 0.3);
  z-index: 1003;
}
[data-type="region"][data-name="section"] > .region-overlay,
[data-type="region"][data-name="section"] > .region-name {
  display: none;
}
.region-grid {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding-left: inherit;
  padding-right: inherit;
  z-index: 1001;
}
.region-grid .row,
.region-grid .col,
.region-grid .column {
  height: 100%;
}
.region-grid .column {
  min-height: 10px;
  background-color: rgba(0, 100, 0, 0.05);
}
.dragging > .region-grid {
  display: block;
}
.region-name {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  height: 34px;
  padding: 0 0.75em;
  font-family: Helvetica, Arial, sans-serif;
  text-transform: none;
  font-size: 12px;
  line-height: 34px;
  color: #e3e3e3;
  background-color: #646464;
  z-index: 1002;
}
.region-name:before {
  content: '';
  position: absolute;
  top: 0;
  left: 100%;
  bottom: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 17px 0 17px 8.5px;
  border-color: transparent transparent transparent #646464;
}
.dragging > .region-name {
  color: white;
  background-color: #006400;
  z-index: 1005;
}
.dragging > .region-name:before {
  border-left-color: #006400;
}
.resizing.tile {
  position: relative;
  min-height: 200px;
}
.resizing.tile .width-minus,
.resizing.tile .width-plus {
  background-color: transparent;
  position: absolute;
  border: 0;
  color: #FFFFFF;
  font-size: 44px;
  line-height: 50px;
  top: 50%;
  margin-top: -50px;
  padding: 0 12px;
  font-family: Arial, sans-serif;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  -moz-text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  -webkit-text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.resizing.tile .width-minus:hover,
.resizing.tile .width-plus:hover {
  color: #56a4cd;
}
.resizing.tile .width-minus {
  left: 8px;
  margin-top: -55px;
}
.resizing.tile .width-plus {
  right: 8px;
}
.resizing.tile .width-menu {
  margin: -40px auto 0;
  width: auto;
  display: block;
  font-size: 14px;
  text-align: center;
}
.resizing.tile .save-cancel-wrapper {
  position: absolute;
  bottom: 24px;
  width: 100%;
  text-align: center;
}
.resizing.tile .save-cancel-wrapper .save {
  margin: 0 0 0 8px;
  width: 67px;
  padding: 5px 0;
  border: solid 1px #424242;
  display: inline-block;
  text-transform: uppercase;
  font-size: 12px;
  background: #F3F3F3;
  background: -webkit-linear-gradient(#F3F3F3, #AAAAAA);
  background: -moz-linear-gradient(center top, #F3F3F3 0%, #AAAAAA 100%);
  background: linear-gradient(#F3F3F3, #AAAAAA);
  -webkit-background-clip: padding-box;
  -webkit-border-radius: 3px;
  -moz-background-clip: padding-box;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-clip: padding-box;
}
.resizing.tile .save-cancel-wrapper .save:hover {
  background: #AAAAAA;
  background: -webkit-linear-gradient(#AAAAAA, #F3F3F3);
  background: -moz-linear-gradient(center top, #AAAAAA 0%, #F3F3F3 100%);
  background: linear-gradient(#AAAAAA, #F3F3F3);
}
.resizing.tile .save-cancel-wrapper .cancel {
  margin: 0;
  width: 67px;
  text-align: center;
  text-transform: uppercase;
  color: white;
  text-decoration: underline;
  display: inline-block;
  font-size: 12px;
  cursor: pointer;
  -moz-transition: color 0.2s ease-in;
  -webkit-transition: color 0.2s ease-in;
  transition: color 0.2s ease-in;
}
.resizing.tile .save-cancel-wrapper .cancel:hover {
  color: #f2f2f2;
}
.in-progress.tile .tile-overlay:after {
  content: "";
  position: absolute;
  width: 76%;
  height: 30px;
  top: 50%;
  left: 50%;
  margin-left: -38%;
  margin-top: -15px;
  background-image: url(img/progress.gif);
  background-repeat: repeat;
  border: 1px solid #646464;
  -webkit-background-clip: padding-box;
  -webkit-border-radius: 10px;
  -moz-background-clip: padding-box;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background-clip: padding-box;
}
.in-progress.tile .tile-overlay > * {
  display: none;
}
